# Godot 4
.godot/
.import/
export.cfg
export_presets.cfg

# Archivos temporales
*.tmp
*.temp
*.bak
*.backup

# Sistema operativo
.DS_Store
Thumbs.db

# Ejecutables/exportaciones
*.exe
*.apk
*.aab
*.x86_64
*.app
*.zip
*.rar